---
import { Footer, Navbar, Wrapper } from '@/components';
import { links, socials } from '@/constants';
import "@/styles/fonts";
import '@/styles/native.css';
import type { InferEntrySchema } from 'astro:content';
import Analytics from '@vercel/analytics/astro'

export interface Props {
	title: string;
	post?: InferEntrySchema<"posts">
}

const { title, post } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="dark" data-code-theme="github-dark-default">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header >
			<Navbar {links} />
			{post && (
				<Wrapper class="subheader-wrapper">
					<h1 class="post-title">{post.title}</h1>
				</Wrapper>
			)}
		</header>
		<slot name="hero" />
		<Wrapper class='main-wrapper'>
			<slot />
		</Wrapper>
		<!-- <Footer {links} {socials} /> -->
		<Analytics />
	</body>
</html>

<script>
	import { themeManager } from "@/utils/frontend/theme";

	const moon = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-moon-icon lucide-moon"><path d="M20.985 12.486a9 9 0 1 1-9.473-9.472c.405-.022.617.46.402.803a6 6 0 0 0 8.268 8.268c.344-.215.825-.004.803.401"/></svg>`;

	const sun = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sun-icon lucide-sun"><circle cx="12" cy="12" r="4"/><path d="M12 2v2"/><path d="M12 20v2"/><path d="m4.93 4.93 1.41 1.41"/><path d="m17.66 17.66 1.41 1.41"/><path d="M2 12h2"/><path d="M20 12h2"/><path d="m6.34 17.66-1.41 1.41"/><path d="m19.07 4.93-1.41 1.41"/></svg>`

	const themeBtn = document.getElementById("theme-toggle") as HTMLButtonElement;
	themeManager.applyTheme("system")

	themeBtn.addEventListener("click", () => {
		const rt = themeManager.getResolvedTheme()
		themeManager.applyTheme(rt === "dark" ? "light" : "dark");
		rt === "light" ? themeBtn.innerHTML = sun : themeBtn.innerHTML = moon;
	});
	window.__app__.themeManager = themeManager;
</script>



<style>
	*, *::before, *::after {
		& {
			box-sizing: border-box;
			width: stretch;
		}
	}
	html {
		& {
			max-width: 100dvw;
			min-height: 100dvh;
			justify-items: center;
			transition: all 0.2s ease-in-out;
		}

		body {
			& {
				font-family: "Atkinson Hyperlegible", sans-serif;
				width: stretch;
				padding-inline: auto;
				overflow-x: hidden;
				background-color: light-dark(white, black);
				justify-items: center safe;
				align-content: center safe;
				font-size: 1rem;
			}

			header {
				display: block;
				padding: --space(2);
				padding-top: --space(6);
				justify-items: center safe;
				width: stretch;
				background-image: 
					linear-gradient(to bottom,)
				;
			}
		}
	}

	.sub-wrapper {
		display: block;
		width: stretch;
		max-width: 80ch;
		justify-items: center safe;
		align-content: center safe;
		padding-top: --space(6);
	}
	.main-wrapper {
		width: stretch;
		max-width: 100ch;
		margin-inline: auto;
		padding-top: --space(6);
		padding-inline: auto;
		justify-items: center safe;
		align-content: center safe;
	}
	.post-title {
		display: block;
		font-family: "Grandstander", sans-serif;
		text-align: center;
	}
</style>
