---
import { Footer, Navbar, Wrapper } from '@/components';
import { links, socials } from '@/constants';
import "@/styles/fonts";
import '@/styles/global.css';
import type { InferEntrySchema } from 'astro:content';
import Analytics from '@vercel/analytics/astro'

export interface Props {
	title: string;
	post?: InferEntrySchema<"posts">
}

const { title, post } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="dark" data-code-theme="github-dark-default" class="max-w-screen min-h-screen justify-items-center-safe">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-atkinson w-full max-w-screen justify-items-center-safe overflow-x-hidden bg-slate-50 dark:bg-stone-950">
		<header class="block p-3 pt-10 justify-items-center-safe w-full bg-linear-to-b to-rose-800/60 to-90% from-sky-800/60">
			<Navbar {links} />
			{post && (
				<Wrapper class="block w-full max-w-[80ch] content-center-safe justify-items-center-safe pt-10">
					<h1 class="block font-grandstander text-center">{post.title}</h1>
				</Wrapper>
			)}
		</header>
		<slot name="hero" />
		<Wrapper class='w-full max-w-[100ch] pt-6'>
			<slot />
		</Wrapper>
		<Footer {links} {socials} />
		<Analytics />
	</body>
</html>

<script>
	import { themeManager } from "@/utils/frontend/theme";

	const moon = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-moon-icon lucide-moon"><path d="M20.985 12.486a9 9 0 1 1-9.473-9.472c.405-.022.617.46.402.803a6 6 0 0 0 8.268 8.268c.344-.215.825-.004.803.401"/></svg>`;

	const sun = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sun-icon lucide-sun"><circle cx="12" cy="12" r="4"/><path d="M12 2v2"/><path d="M12 20v2"/><path d="m4.93 4.93 1.41 1.41"/><path d="m17.66 17.66 1.41 1.41"/><path d="M2 12h2"/><path d="M20 12h2"/><path d="m6.34 17.66-1.41 1.41"/><path d="m19.07 4.93-1.41 1.41"/></svg>`

	const themeBtn = document.getElementById("theme-toggle") as HTMLButtonElement;
	themeManager.applyTheme("system")

	themeBtn.addEventListener("click", () => {
		const rt = themeManager.getResolvedTheme()
		themeManager.applyTheme(rt === "dark" ? "light" : "dark");
		rt === "light" ? themeBtn.innerHTML = sun : themeBtn.innerHTML = moon;
	});
	window.__app__.themeManager = themeManager;
</script>
